extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sean Crooks

        p BSN-RN turned Full Stack Developer 


        .about-bio

          p Started studying software development in late 2023 in order to change careers from nursing. I've gained a plethora of soft skills through nursing to carry on to software development teams and companies. These skills include <em>strong communication, problem solving, critical thinking, conflict resolution, service recovery, adaptation to different work environments, time management, leadership, and collaborating among interdisciplinary teams</em>.


      .skills-contact-box.box
        h6 Technical Skills: 

        ul
          li HTML
          li CSS
          li JavaScript
          li Java
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li sean.crooks.p2@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/crookss/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/crooks-s' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back