extends layout.pug

block content
  a(href='#about-bio').skip-link Jump to About Bio

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap
      .about-intro-box.box(aria-label="About bio content" role='main')

        h1 Sean Crooks

        p BSN-RN turned Full Stack Developer 


        .about-bio(id='about-bio')

          p I began studying software development in 2023 on the following platforms: <em>Treehouse, CodeCademy, LeetCode</em>, and <em>freeCodeCamp</em>. As a software developer, I aim to create innovative solutions to boost productivity and improve accessibility through implementing WCAG guidelines.
          p I have 9 years of nursing experience, most of which is in MICU and CVICU. My critical-care nursing skills seamlessly translate into software development, offering a blend of professionalism, attention to detail, and adaptability; all of which are essential to effective problem-solving and user-centered software development. I excel in multi-disciplinary teams, demonstrating strong leadership and exceptional communication abilities to facilitate team progress. 
          p I am always looking for change and enjoy challening myself to new experiences and skillsets. On my free time, I train Brazilian Jiu Jitsu and Muay Thai, and enjoy honing my firearm skills and safety at the gun range.

          .about-bio-child-container

            .about-bio-child(id='technical-skills')
              h2 Contact Info:
                p sean.crooks.p@gmail.com
                a.btn-link(href='https://youtu.be/WdoUOsTDpEw' target="_blank" aria-label="YouTube (opens in a new tab)") Introduction Video
                a.btn-link(href='https://www.linkedin.com/in/crookss/' target="_blank" aria-label="LinkedIn (opens in a new tab)") LinkedIn
                a.btn-link(href='https://github.com/crooks-s' target="_blank" aria-label="GitHub (opens in a new tab)") GitHub
                a.btn-link(href='https://teamtreehouse.com/profiles/crookss' target="_blank" aria-label="Treehouse (opens in a new tab)") Treehouse

            .about-bio-child(id='contact-info')
              h2 Technical Skills: 
                ul
                  li HTML/CSS
                  li Tailwind
                  li JavaScript
                  li ExpressJS
                  li ReactJS
                  li NextJS
                  li SQL
                  li Git version control
                  li GitHub
                  li Fetch and RESTful APIs
                  li NodeJS
                  li Railway

    nav.nav
      a(href='/')
        span &larr;
        |  Back