extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sean Crooks

        p BSN-RN turned Full Stack Developer 


        .about-bio

          p I began studying software development in 2023 to change careers from nursing. I've studied through <em>Team Treehouse, CodeCademy, LeetCode</em>, and <em>freeCodeCamp</em>. I am transitioning my nursing, critical-thinking, and problem-solving skills into software/web development to create innovative solutions that boost productivity and improve accessibility. I work well in multi-disciplinary teams and have exceptional communication skills to facilitate team progress. I am always looking for change and enjoy challening myself to new experiences and skillsets. On my free time, I train Brazilian Jiu Jitsu and Muay Thai, and enjoy honing my firearm skills and safety at the gun range.

      .skills-contact-box.box
        h6 Technical Skills: 

        ul
          li HTML/CSS
          li JavaScript
          li Express
          li React
          li SQL
          li Git version control
          li GitHub
          li Fetch and RESTful APIs
          li Node.js
          li Railway

        h6 Contact Info

        ul
          li sean.crooks.p2@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/crookss/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/crooks-s' target="_blank") GitHub
        a.btn-link(href='https://teamtreehouse.com/profiles/crookss' target="_blank") Treehouse
        a.btn-link(href='https://crooks-s-portfolio.up.railway.app' target="_blank") Portfolio

    nav.nav
      a(href='/')
        span &larr;
        |  Back