extends layout.pug

block content

  article.portfolio-intro

    // Portfolio title
    h1 Welcome!

    // Portfolio description
    p This site presents all of my completed software development projects. Previews are displayed below and more detailed information can be seen upon clicking a specific project. All projects have a corresponding link to my GitHub repository. If you'd like to reach out, please see my <a href= '/about' style='color: blue'>contact information</a>.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      // Generate previews on home page for each project  
      each project in projects      
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src= `${project["image-urls"][0]}`, alt=`Image of Project ${project["project-name"]}`)
            h5 #{project["project-name"]}

