<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sean Crooks - Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.png', alt='Profile picture')
        .dev-intro-box

          h5 Sean Crooks

          p Full Stack Software Developer. 2024 <em>Treehouse Full Stack JavaScript Techdegree</em> Graduate. Highly driven and enthusiastic professional. Proficient in React, Express, SQL, JavaScript, HTML/CSS, and Git. Actively practicing BSN-RN, specializing in CVICU.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          // Used for mobile layout
          span Sean Crooks

      block content

  script(src='/static/js/script.js')