extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Dynamically update project title
        h1= projects[id]["project-name"]

        //- Dynamically update description
        p= projects[id].description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each item in projects[id].technologies
            li= item

        a.btn-link(href= projects[id]["live-link"] target= "_blank") Live Demo
        a.btn-link(href= projects[id]["github-link"] target= "_blank") GitHub Repo

    .project-img-box.box

      img.project-img(src= projects[id]["image-urls"][0], alt='Project Image 1')
      img.project-img(src= projects[id]["image-urls"][1], alt='Project Image 2')
      if projects[id]["image-urls"][2]
        img.project-img(src= projects[id]["image-urls"][2], alt='Project Image 3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
